// --------------
// https://www.nordtheme.com/docs/colors-and-palettes

$ЦветФона: #2e3440;

$БазовыйЦветТекста: #eceff4;
$ПриглушенныйЦветТекста: #d8dee9;
$ЦветВыделениеТекста: #5e81ac;

$БазовыйЦветСсылки: #5e81ac;
$БазовыйЦветПосещеннойСсылки: #81a1c1;

$ЦветФонаВсплывающегоОкна: #3b4252; //#acb7c7;
$ЦветФонаПодсказки: #434c5e;

$ЯркоеВыделение: #ebcb8b;
$ЯркоеВыделение2: #88c0d0;

$Хорошо: #a3be8c;
$Среднее: #ebcb8b;
$Плохо: #d08770;
// Заголовки
$h6_color: #22252a;
$h5_color: #2e3238;
$h4_color: #2f333a;
$h3_color: #393e46;
$h2_color: #454a54;
$h1_color: #505762;
$h_color: #abb0ba;

// Глобальные настройки
body {
	background: $ЦветФона;
	color: $БазовыйЦветТекста;
	margin: 0px;
	width: 100%;
	min-height: 1000px;
	font-family: sans-serif;
	font-size: 1em;

	// Общие вспомогательные стили
	.oth {
		// Выравнять блок по середине
		&.center-div {
			text-align: center;
			position: relative;
			top: 50%;
		}
	}

	// Блок с подсказкой
	#mddry_hint {
		text-align: left;
		color: $ПриглушенныйЦветТекста;
		background: $ЦветФонаПодсказки;
		visibility: hidden;
		display: block;
		min-height: 12px;
		max-height: 20vh;
		overflow: auto;
		width: 100%;
		overflow-wrap: break-word;
		z-index: 1;

		// --------------------------------------
		transition: height 0.3s, visibility 0.3s;
		transition-timing-function: ease-in-out;
		height: 0%;
		// --------------------------------------
		// --- Закрепить вверху
		position: fixed;
		top: 0;
		left: 0;
		#mddry_hint_body {
			padding: 5px 15px 5px 15px;
			text-align: justify;
		}
		// Кнопка скрытия подсказки
		#mddry_hint_hiden {
			text-align: center;
			background: $ЦветФона;
			color: $ПриглушенныйЦветТекста;
			border: $ЦветФона solid 1px;
			border-radius: 10px 0px 0px 0px;
			width: 80px;
			display: block;
		}
	}
	// Всплывающие окно
	#mddry_emerge_windows {
		visibility: hidden;
		position: fixed;
		background: $ЦветФонаВсплывающегоОкна;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
		z-index: 99;
		// Кнопка для скрытия окна
		#mddry_emerge_windows_hidden {
			width: 89px;
			height: 39px;
			float: right;
			background: $ЦветФонаВсплывающегоОкна;
			border: $ЦветФонаВсплывающегоОкна;
			color: $ПриглушенныйЦветТекста;
		}
		// Доп информация в всплывающем окне
		#mddry_emerge_windows_info {
			color: $ПриглушенныйЦветТекста;
			background: $ЦветФонаПодсказки;
			padding: 10px 15px 5px 30px;
			margin-right: 90px;
			white-space: nowrap;
			overflow: auto;
		}
		// Основной текст
		#mddry_emerge_windows_body {
			padding: 10px 15px 10px 15px;
			margin: 10px 15px 10px 15px;
			overflow: auto;
			max-width: 100%;
			max-height: 90%;
			border: 1px solid $БазовыйЦветТекста;
			border-radius: 10px;
		}
	}
	// Оглавление
	#mddry_menu {
		position: fixed;
		background: $ЦветФонаВсплывающегоОкна;
		right: 0px;
		bottom: 0px;
		padding: 0px;
		z-index: 1;
		border-radius: 10px 0px 0px 0px;
		// Анимация
		transition: height 0.3s ease-in-out, width 0.3s ease-in-out;
		// По умолчанию меню скрыто, когда меню открыто высота будет 35%
		height: 20px;
		width: 120px;
		// Список заголовков
		#detail_menu {
			padding-left: 5px;
			height: 100%;
			overflow: auto;
			display: none;
			ol {
				// Убрать тире у элементов ненумерованного списка
				list-style-type: none;
				color: $h_color;
				padding-left: 0px;
				li {
					padding-right: 5px;
				}
				// 1 заголовок
				ol {
					padding: 0px 0px 0px 5px;
					border-radius: 5px 0px 0px 5px;
					background: $h1_color;
					// 2 заголовок
					ol {
						background: $h2_color;
						// 3 заголовок
						ol {
							background: $h3_color;
							// 4 заголовок
							ol {
								background: $h4_color;
								// 5 заголовок
								ol {
									background: $h5_color;
									// 6 заголовок
									ol {
										background: $h6_color;
									}
								}
							}
						}
					}
				}
				// Ссылки
				a {
					text-decoration: none;
					&:link {
						color: $h_color;
					}
					&:hover {
						text-decoration: underline;
					}
					&:visited {
						color: $h_color;
					}
				}
			}
		}
		#bt_show_menu,
		#bt_hidden_menu {
			border: none;
			text-decoration: none;
			width: 100%;
			display: none;
			padding: 0;
			background: transparent;
			color: $БазовыйЦветТекста;
		}
		#bt_show_menu {
			height: 100%;
			display: block;
			width: 120px;
		}
	}
	// Блок с основным текстом
	#mddry_body {
		padding: 10px 15px 15px 15px;
		text-align: justify;

		// ------------------- Изображения --------------------------------------- //
		// Обычные одиночные изображения
		.MdImg {
			// Настройки для изображения
			img {
				object-fit: contain;
				max-width: 90vw;
				min-height: 30vh;
				border-radius: 10px;
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
			// Настройки для описания изображения
			.img_info {
				margin-top: 10px;
				text-align: center;
				font-style: italic;
			}
			padding-top: 10px;
			padding-bottom: 10px;
			margin-top: 10px;
			margin-bottom: 10px;
			border-radius: 10px;
			background: $ЦветФонаВсплывающегоОкна;
			border: 2px solid $ЦветФонаВсплывающегоОкна;
			// Галерея с несколькими фото
			& .Gallery {
				/*
				:Шаблон:
				
				<div class="MdImg">
					<div class="Gallery">
						<div class="navigation left" onclick="Gallery.last_page(this)">
							<div class="oth center-div">
								&lt
							</div>
						</div>
						-----------------------------
						<img src="ФОТО_1" select="0">
						<img src="ФОТО_1" select="1">
						<img src="ФОТО_1" select="0">
						<img src="ФОТО_1" select="0">
						-----------------------------
						<div class="navigation right" onclick="Gallery.next_page(this)">
							<div class="oth center-div">
								&gt
							</div>
						</div>
					</div>
					<div class="name_img">Описание фото</div>
				</div>
				*/
				display: flex;
				flex-direction: row;
				// Скрыть не активные фото
				& img[select="0"] {
					display: none;
					visibility: hidden;
				}
				// Показать активное фото
				& img[select="1"] {
					display: block;
					visibility: visible;
				}
				// Перемещение по фото
				& .navigation {
					// position: absolute;
					background: #000;
					opacity: 0.1;
					// height: 36vw;
					// Делаем эффект наведения на переключатель фото
					&:hover {
						opacity: 0.2;
					}
					&.left {
						width: 30vw;
					}
					&.right {
						width: 30vw;
						right: 0;
					}
				}
			}
			& .name_img {
				text-align: center;
			}
		}

		// ------------------- Изображения --------------------------------------- //

		// Раскрываемые блок - `DropdownBlock`
		.DropdownBlock {
			/* Пример как использовать в HTML
			<div class="DropdownBlock">
				Текст Триггер
				<div class="DropdownBlock-content">
					Текст который всплывет
				</div>
			</div>
			*/
			position: relative;
			// display: inline-block;
			border: 2px solid $Среднее;
			border-radius: 5px;
			padding: 5px;
			.DropdownBlock-content {
				opacity: 0;
				transition: opacity 0.3s ease-in-out;
				position: absolute;
				border-bottom: none;
				left: 0;
				right: 0;
				margin-left: 0;
				margin-right: 0;
				background-color: $ЦветФонаВсплывающегоОкна;
				min-width: 160px;
				max-width: 100%;
				word-wrap: break-word;
				padding: 12px 16px;
				z-index: 0;
			}
			&:hover .DropdownBlock-content {
				opacity: 1;
			}
		}
	}
	//------------------------------------------------
	//Текст при наведение на который всплывает подсказка

	%HelpText {
		position: relative;
		.HelpText-content {
			visibility: hidden;
			width: 120px;
			background-color: $Хорошо;
			color: $ЦветФона;
			text-align: center;
			border-radius: 6px;
			padding: 5px;
			word-wrap: break-word;
			position: absolute;
			z-index: 1;
			bottom: 100%;
			left: 50%;
			margin-left: -60px;
			opacity: 0;
			transition: opacity 0.3s;
			&::after {
				content: "";
				position: absolute;
				top: 100%;
				left: 50%;
				margin-left: -5px;
				border-width: 5px;
				border-style: solid;
				border-color: $ЦветФонаПодсказки transparent transparent transparent;
			}
		}
		&:hover .HelpText-content {
			visibility: visible;
			opacity: 1;
		}

		&:hover .HelpText-content {
			visibility: visible;
		}
	}
	.HelpText-span {
		// Подсказка внутри текста, для тега `span`

		/* Пример как использовать в HTML
	
		<div class="HelpText-span">
			Основной текст
			<span class="HelpText-content">Текст подсказки</span>
		</div>
		*/

		display: inline-block;
		border-bottom: 3px dotted $Среднее;
		@extend %HelpText;
	}

	.HelpText-div {
		// Подсказка внутри блока, для тега `dev`
		/* Пример как использовать в HTML

		<div class="HelpText-div">
			Основной текст
			<span class="HelpText-content">Текст подсказки</span>
		</div>
		*/
		display: block;
		@extend %HelpText;
	}
	.HelpText-div-b {
		position: relative;
		display: inline-block;
		.HelpText-content {
			visibility: hidden;
			width: 120px;
			background-color: $Хорошо;
			color: $ЦветФона;
			text-align: center;
			border-radius: 6px;
			padding: 5px 0;

			/* Position the tooltip */
			position: absolute;
			z-index: 1;
			top: 100%;
			left: 50%;
			margin-left: -60px;
		}
		&:hover .HelpText-content {
			visibility: visible;
		}
	}
	//------------------------------------------------
	// Блок для отладки
	#debug {
		// background: $ЦветФона;
		position: sticky;
		bottom: 0;
		z-index: 2;
		// background: $ЦветФонаВсплывающегоОкна;
		width: 70%;
		#debug_body {
			display: none;
		}
	}
	//------------------------------------------------
}
