// --------------
// https://www.nordtheme.com/docs/colors-and-palettes

$ЦветФона: #2e3440;

$БазовыйЦветТекста: #eceff4;
$ПриглушенныйЦветТекста: #d8dee9;
$ЦветВыделениеТекста: #5e81ac;

$БазовыйЦветСсылки: #5e81ac;
$БазовыйЦветПосещеннойСсылки: #81a1c1;

$ЦветФонаВсплывающегоОкна: #3b4252; //#acb7c7;
$ЦветФонаПодсказки: #434c5e;

$ЯркоеВыделение: #ebcb8b;
$ЯркоеВыделение2: #88c0d0;

$Хорошо: #a3be8c;
$Среднее: #ebcb8b;
$Плохо: #d08770;

// -------------- Базовые настройки тем -----------------

// Глобальные настройки
body {
    background: $ЦветФона;
    color: $БазовыйЦветТекста;
    padding-left: 15px;
}

// Заголовки
$h6_color: #22252a;
$h5_color: #2e3238;
$h4_color: #2f333a;
$h3_color: #393e46;
$h2_color: #454a54;
$h1_color: #505762;
$h_color: #abb0ba;

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $h_color;
    margin: 0;
    padding: 3px 0 3px 10px;
    border-radius: 4px 4px 0 0;
    margin: 8px 0px 8px 0px;
    div.mddry_name {
        // Имя заголовка
        display: inline-block;
    }
    span.paragraph {
        visibility: hidden;
        // &:hover {
        //     visibility: visible;
        //     color: #000;
        // }
    }
    div.mddry_level {
        // Номер заголовка
        text-align: right;
        display: inline-block;
        position: absolute;
        right: 10px;
        font-size: 16px;
        padding: 4px;
    }
}

h1 {
    background: $h1_color;
    font-size: 32px;
}
h2 {
    background: $h2_color;
    font-size: 30px;
}
h3 {
    background: $h3_color;
    font-size: 28px;
}

h4 {
    background: $h4_color;
    font-size: 26px;
}

h5 {
    background: $h5_color;
    font-size: 24px;
}
h6 {
    background: $h6_color;
    font-size: 22px;
}
// Оглавление
#menu {
    padding: 10px;
    z-index: 999;
    position: fixed;
    background: $ЦветФонаВсплывающегоОкна;
    right: 0px;
    bottom: 0px;
    border: 1px solid $ЦветФонаПодсказки;
    border-radius: 10px 0px 0px 0px;
    height: 50%;
    padding-bottom: 50px;

    // Список заголовков
    #detail_menu {
        height: 100%;
        overflow: scroll;
    }
    ol {
        // Убрать тире у элементов ненумерованного списка
        list-style-type: none;
        color: $h_color;
        padding-left: 0px;
        // 1 заголовок
        ol {
            padding: 0px 0px 0px 5px;
            border-radius: 5px 0px 0px 5px;
            background: $h1_color;
            // 2 заголовок
            ol {
                background: $h2_color;
                // 3 заголовок
                ol {
                    background: $h3_color;
                    // 4 заголовок
                    ol {
                        background: $h4_color;
                        // 5 заголовок
                        ol {
                            background: $h5_color;
                            // 6 заголовок
                            ol {
                                background: $h6_color;
                            }
                        }
                    }
                }
            }
        }
        // Ссылки
        a {
            text-decoration: none;
            &:link {
                color: $h_color;
            }
            &:hover {
                text-decoration: underline;
            }
            &:visited {
                color: $h_color;
            }
        }
    }
    #bt_show_menu,
    #bt_hidden_menu {
        border: none;
        border-radius: 4px;
        text-decoration: none;
        width: 100%;
    }
    #bt_hidden_menu {
        margin-bottom: 5px;
    }
}

// ------------------

// Ссылки
a {
    text-decoration: none;
    &:link {
        color: $БазовыйЦветСсылки;
    }

    &:visited {
        color: $БазовыйЦветПосещеннойСсылки;
    }
}

// Изображение
.ImgMd {
    margin: 20px 0px 20px 0px;
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 55vh;
        height: auto;
        object-fit: contain;
        border-radius: 10px;
    }
    // Описание фото
    .ImgMdName {
        text-align: center;
    }
}

// Блок с кодом
.CodeBlock {
    // Заголовок кода с блоком
    div.head {
        text-align: center;
        font-weight: bold;
    }
}

// Тег PRE
pre {
    background: $ЦветФонаВсплывающегоОкна;
    padding: 10px 0px 10px 15px;
    margin-top: 10px;
    border-radius: 4px;
    color: $БазовыйЦветТекста;
}

span {
    // Строка с кодом
    &.CodeLine {
        background: $ЦветФонаВсплывающегоОкна;
        color: $Среднее;
        border-radius: 8px;
        padding: 2px;
    }
}

// Блок с кодом
div > pre {
    background: $ЦветФонаВсплывающегоОкна;
    padding: 10px 0px 15px 0px;
    // margin: 20px;
    border-radius: 4px;
    // Стиль для выделение текста
    span {
        background: $ЦветВыделениеТекста;
        border: $ЦветВыделениеТекста solid;
    }
    // Нумерация строк
    &.code {
        // Переносить новые строки, но не сам текст,
        // нужно для прокручивания длинного текста
        white-space: pre;
    }
    &.code::before {
        counter-reset: listing;
    }
    &.code code {
        counter-increment: listing;
    }
    &.code code::before {
        content: counter(listing) ". ";
        display: inline-block;
        width: 3em;
        padding-left: auto;
        margin-left: auto;
        text-align: left;
        // Фон линии номера кода
        background: $ЦветФонаПодсказки;
        padding-left: 3px;
        margin-right: 10px;
    }
}
// --------------------------------------------------------

// Всплывающие окно ---------------------------------------

#LinkCodeWindow {
    width: 100%;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    // Нижня часть всплывающего окна
    #LinkCodeWindowFooter {
        // Путь к файлу или ссылка на файл
        #LinkCodeWindowPath {
            text-align: left;
            color: $ПриглушенныйЦветТекста;
            background: $ЦветФонаПодсказки;
        }
    }
    // Оформление сходного кода из файла
    #LinkCodeWindowBody {
        overflow: auto;
        padding: 0px;
        margin-top: 0px;
        margin: 0px;
        display: block;
        height: 95%;
    }
    // Непосредственно тело всплывающего окна
    #LinkCodeWindowDet {
        margin: 10px auto;
        background: $ЦветФонаВсплывающегоОкна;
        // Ширина всплывающего окна
        max-width: 900px;
        height: 98%;
        padding: 15px 15px 0px 15px;
        border-radius: 10px;

        // Стили для заголовка всплывающего окна
        #LinkCodeWindowButtonTitle {
            text-align: right;
            // Стиль для имени заголовка
            #LinkCodeName {
                display: inline;
                font-size: small;
                font-weight: lighter;
            }
            // Кнопка скрытия выплывающего окна
            #LinkCodeWindowButtonHide {
                font-size: small;
            }
        }
    }
}
//----------------------------------------------------------------------------

.MarkdownDRY {
    // Вставленный код
    &.InsertCodeFromFile {
        background: $ЦветФонаВсплывающегоОкна;
        div {
            padding-left: 3em;
            padding-top: 5px;
            margin-top: 5px;
            font-size: medium;
            text-align: center;
        }
    }
    // Математический размах
    &.MathSpan {
        color: $ЯркоеВыделение;
        background: $ЦветФонаПодсказки;
        border-radius: 6px;
        padding: 2px 4px 2px 4px;
        // Выделить ответ
        .math_result {
            color: $ЯркоеВыделение2;
        }
    }

    // Выделяемый блок
    &.HighlightBlock {
        padding: 10px;
        margin: 10px 30px 10px 30px;
        color: $ЦветФона;
        border-radius: 5px;
        // Заголовок выделения
        .HighlightTitle {
            text-align: center;
            margin-bottom: 5px;
        }
        // Пример
        &.HighlightBlock1 {
            background: $Хорошо;
        }
        // Информация
        &.HighlightBlock2 {
            background: $Среднее;
        }
        // Предупреждение
        &.HighlightBlock3 {
            background: $Плохо;
        }
    }
    // Раскрываемый блок
    &.DropdownBlock {
        // Заголовок блока
        .DropdownBlockTitle {
            color: $БазовыйЦветПосещеннойСсылки;
            // text-decoration: underline;
        }
        // Текст в блоке
        .DropdownBlockText {
            border-radius: 5px;
            width: 0px;
            height: 0px;
            overflow: hidden;
            transition: height 0.3s;
            background: $ЦветФонаПодсказки;
        }
        // Наведение на заголовок блока
        .DropdownBlockTitle:hover + .DropdownBlockText,
        .DropdownBlockText:hover {
            padding: 10px;
            width: 95%;
            height: 15%;
            overflow: auto;
        }
        // Для перемещение курсора по раскрытому тексу
        .DropdownBlockText:hover {
            padding: 10px;
            width: 95%;
            height: 35%;
            overflow: auto;
        }
        .DropdownBlockTitle::after {
            content: " vvv";
        }
        .DropdownBlockTitle::before {
            content: "vvv ";
        }
    }
    // Многострочная таблица
    &.MultiLineTables {
        // --------------
        width: 95%;
        overflow: auto;

        // Таблицы
        table {
            margin-top: 5px;
            margin-left: auto;
            margin-right: auto;
            border-collapse: collapse;
            margin-bottom: 20px;
            // Заголовок таблицы
            thead {
                th {
                    text-align: center;
                    padding: 10px;
                    box-shadow: 0px 0px 0px 1px $ЦветФонаВсплывающегоОкна;
                }

                th:first-child {
                    border-radius: 10px 0 0 0;
                }

                th:last-child {
                    border-radius: 0 10px 0 0;
                }
            }

            // Данные в таблице
            tbody {
                tr {
                    border-left: 0.5px solid $ЦветФона;
                    border-right: 0.5px solid $ЦветФона;
                }

                tr:last-of-type {
                    border-bottom: 0.5px solid $ЦветФона;
                }

                td {
                    padding: 10px;
                    margin: 10px;
                    border: 2px solid $ЦветФонаВсплывающегоОкна;
                }

                tr:nth-child(even) {
                    background: $ЦветФонаВсплывающегоОкна;
                }
                tr:nth-child(odd) {
                    background: $ЦветФонаПодсказки;
                }
            }
        }
    }
    // Стили для слайдера
    &.Slider {
        background: $ЦветФона;
        margin: 10px 0px 10px 0px;
        /*Описание группы*/
        > h2 {
            text-align: center;
            font-size: medium;
            margin-bottom: 10px;
            padding: 5px;
            display: block;
        }
        .carousel-inner {
            /* Элемент прокрутки*/
            > .carousel-item {
                min-height: 400px;
                /*Описание блока*/
                h3 {
                    text-align: center;
                    padding: 5px 0px 0px 0px;
                    font-size: medium;
                    background: $ЦветФона;
                }
                pre {
                    margin: 0 auto;
                    padding: 0px;
                    padding-top: 10px;
                    height: 55%;
                    width: 95%;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }

                // Фото
                img {
                    /*Фото по центру*/
                    margin: 0 auto;
                    // Сохранение пропорции у фото
                    object-fit: contain;
                    height: 55%;
                    width: 95%;
                    border-radius: 5px;
                }
            }
        }
        // Нижня часть слайдера, отвечает за переключение сайдов
        .slider_nav {
            background: $ЦветФона;
            padding-bottom: 5px;
            .carousel-indicators {
                position: static;
                float: left;
                width: 40%;
                margin-bottom: 0px;
                button {
                    width: 15px;
                    height: 15px;
                    border-radius: 100%;
                }
            }
            .carousel-control-prev {
                float: left;
            }
            /*Порядковые кнопки переключение блоков*/
            .carousel-control-prev,
            .carousel-control-next {
                position: static;
            }
        }
    }
}
